<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="mb-3">
        <h1>WELCOME TO DASHBOARD OF
            <%= locals.user %>
        </h1>
        <label for="formFileSm" class="form-label">Click to Enter a file </label>

    </div>
    <form action="/dashboard/<%= locals.user %>" method="post" enctype="multipart/form-data">
        <input class="form-control form-control-sm" id="formFileSm" type="file" name="file">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form action="/upload/<%= locals.user %>">
        <button type="submit" id="submit-button" value="<%= locals.user %>">Go to uploads Page</button>
    </form>


    <div id="view-List"></div>

    <script src="frontend.js"></script>




</body>

</html>